@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Teko:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Teko';
}
body {
    background-color: rgb(252, 241, 221);
}
header {
    border: solid;
    border-width: 3px;
    border-color: darkorange;
    background-image: url(./images/Background_darker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    background-image: url(./images/Background_darker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 150%;
    text-align: center;
}

#footertext {
    margin: none;
    padding: none;
    text-align: center;
}
#return {
    cursor: pointer;
    color: white;
}

/* Top Anime/Manga column & features */
[class="col-8"] {
    float: left;
    padding: 15px;
   
}
/* Anime cards container features */
.anime_container {
    border: solid;
    border-color: darkorange;
    overflow-x: auto;
}

/* Features aplly for both ol's tags(attributes) */
ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 490px;
    gap: 15px;
    justify-content: flex-start;

}

/* Manga cards container features */
.manga_container {
    border: solid;
    border-color: darkorange;
    overflow-x: auto;
}

/* Search column & features */
/* Search card features */
[class="col-4"] {
    float: left;
    padding: 15px;
}

.search_card {
    border: solid;
    border-color: darkorange;
    padding: 50px;
    height: 1152px;

}
.search_results {
    border: solid;
    border-color: darkorange;
    height: 780px;
    padding: 50px;
    width: auto;
    overflow-y: auto;
    text-align: center;
}

.search_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    font-weight: 300;
}

.search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin: auto;
    width: 250px;
    height: 50px;
    font-weight: 700;
    font-size: 150%;
    color: rgb(250, 235, 215);
    border: 3px solid rgb(27, 26, 31);
    background-color: rgb(238, 116, 65);
    cursor: pointer;
}

@-webkit-keyframes pulse-grow-on-hover {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes pulse-grow-on-hover {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .search_button {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .search_button:hover, .search_button:focus, .search_button:active {
    -webkit-animation-name: pulse-grow-on-hover;
    animation-name: pulse-grow-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

#animag {
    margin-left: 5%;
    padding: none;
    letter-spacing: 10px;
    text-shadow: 4px 0 0 #000000, -4px 0 0 #000000, 0 4px 0 #000000, 0 -4px 0 #000000, 4px 2px #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
}

#ani {
    color: rgb(238, 116, 65);
    font-family: 'Audiowide';
    font-size: 50px;
}

#mag {
    color: rgb(43, 114, 185);
    font-family: 'Audiowide';
    font-size: 50px;
}

#A {
    color: rgb(238, 116, 65);
    font-family: 'Audiowide';
    font-size: 200%;
}

#M {
    color: rgb(43, 114, 185);
    font-family: 'Audiowide';
    font-size: 200%;
}

/* Search column & features */
/* Footer features */
[class="col-12"] {
    border: solid;
    border-color: darkorange;
    padding: 50px;
    margin-top: 1185px;
    text-align: center;
}

/* Columns width */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

